html{
    font-size: 16px;
}
.header{
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
content > .topSell, .text-center {
    padding: 0% 5%;
}
.header-scrolled {
    background-color: white;
    color: black;
}
.item{
    margin: 1rem 0rem;
}
.items{
    height: 12rem;
    width: 12rem;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.label{
    width: 7.5rem;
    border-radius: 0px 35px 0px 7px;
}
.itemsValue{
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}