<div class="carousel slide" id="banner" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active " data-bs-interval="3000">
            <img src="/images/Frame 14.svg" alt="" class="w-100">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="/images/Frame 15.svg" alt="" class="w-100 ">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="/images/Frame 8.svg" alt="" class="w-100 ">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#banner" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#banner" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>