<div class="carousel slide" id="banner">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-color: #90cbf0;">
            <img src="/images/Frame 8.svg" alt="" class="w-100 ">
        </div>
        <div class="carousel-item">
            <div class="d-block w-100 d-flex justify-content-center align-items-center "
                style="background-color: rgb(101, 108, 199); height: 15rem; font-size: xx-large;">banner</div>
        </div>
        <div class="carousel-item">
            <div class="d-block w-100 d-flex justify-content-center align-items-center "
                style="background-color: #90cbf0; height: 15rem; font-size: xx-large;">banner</div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#banner" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#banner" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>